services:
  app:
    container_name: koncall_api
    build: .
    image: koncall_api:latest
    restart: unless-stopped
    env_file:
      - .env.prod
    ports:
      - "4001:4000"
    depends_on:
      - db
    networks:
      - default
      - koncrm_default

  db:
    image: postgres:16-alpine
    container_name: koncall_postgres
    restart: unless-stopped
    env_file:
      - .env.prod
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - default

volumes:
  postgres_data:

networks:
  koncrm_default:
    external: true
